
<footer class="footer">
  <div class="container">
    <div class="footer-margin"> <!-- create new div class to margin-->
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">

          <ul class="list-inline social">

            <li>
              <a href="http://facebook.com/jackbisonte" class="footer-icon"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="http://instagram.com/jackbisonte" class="footer-icon"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" class="footer-icon"><i class="fa fa-youtube"></i></a>
            </li>

          </ul>

        </div>

        <div class="col-xs-12 col-sm-6 text-right">

            <a href="mailto:music@jackbisonte.com" id="email">MissionGO 2015 ©</a>

        </div>
      </div>
    </div>
  </div>
</footer>

