<% content_for :body_class, "home" %>

<div class="banner">
<div class="homepage-hero-module">
    <div class="video-container">

        <div class="title-container">
            <div class="headline">
                  <h1>Find local Volunteer Experiences</h1>

            </div>
            <br>

        <%= form_tag(search_index_path,  method: :get, class: 'navbar-scorecard-search') do |f| %>

          <%= text_field_tag :city, '', class: 'navbar-wagon-search-input', id:"user_input_autocomplete_location_by_city", placeholder: 'Type your city' %>

          <%#= select_tag :category, options_for_select(Experience::CATEGORIES.collect { |category| [category, category]}), include_blank: "Select a category", class: 'navbar-wagon-search-input' %>

          <%= button_tag(type: "submit", class: "navbar-scorecard-search-btn") do %>
            <i class="fa fa-search"></i>
        <% end %>
       <% end %>




        </div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="https://player.vimeo.com/external/147585012.hd.mp4?s=1726e3b9f04d4351927b118333bc58008aeb2af7&profile_id=113" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
        <div class="poster hidden">
            <img src="http://www.videojs.com/img/poster.jpg" alt="">
        </div>
    </div>
</div>
</div>



