// Your footer style
// footer{
//   margin-top: 20px;
//   width: 100%;
//   background-color: #FECA2F;
//   color: white;
//   left: 0;
//   bottom: 0;

// }


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #FECA2F;
}

.social {
  margin: 0;
}

.social li {
  padding: 15px;
}


.footer-icon{
  font-size: 30px;
  color: white;
}

.footer-icon:hover{
  color: #ADADAD;
}

#email{
  display: block;
  margin:15px;
  font-size: 20px;
  line-height: 42px;
  text-decoration: none;
  color: white;
}

#email:hover{
  color: #ADADAD;
}
